@font-face {
  font-family: googleFont;
  src: url('../Google-Sans-Fonts/GoogleSans-Regular.ttf');
}

body{
  padding: 1px;
  font-family: googleFont;
}


a {
  color: #00B7FF;
}

.container-fluid{
  font-family: googleFont;
}
